* {
    background-color: #343434;
    font-family: 'Noto Sans HK', sans-serif;
    font-family: 'Maven Pro', sans-serif;
    color: #ffffff;
}

body{
    padding-left:2vw;
    padding-right:2vw;
}

#header{
    height:10vh;
    padding-top:5vh;
    margin-bottom:0px;
}

h1{
    color: #ffffff;
    font-weight: 900;
}

#featured-header{
    font-size:250%;
    margin-bottom: 1vh;
    padding:2vh;
}

#featured{
    margin-top:1px;
    height:40vh;
    display:block;
    margin-bottom:10vh;
    margin-bottom:15vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.streamer {
    width:49%;
    margin:auto;
    height: 40vh;
}


.streamer-name{
    color: #343434;
    background-color: #ffffff;
    padding:2vh;
    font-weight: 900;
    font-size:200%;
    margin-top:1vh;
}

.streamer-description{
    height:30%;
    font-size:125%;
    padding-left:2vh;
    font-weight: 600;
}

#navbar {
    text-align: right;
    margin-top:2vh;
}

ul{
    margin-top:0px;
    list-style-type: none;
    padding-left: 0;
    font-size:120%;
}

li{
    margin-top:2vh;
    display: inline;
    margin-left:10px;
}

.streamer-controls {
    text-align:right;
    margin-top:7px;
    margin-bottom:7px;
    margin-right:2vw;
}

#listen{
    font-weight: 900;
}

input {
    border: 0px;
    border-bottom: 3px solid #ffffff;
    padding-bottom: 10px;
}

button {
    border: 0px;
    color: #343434;
    background-color: #ffffff;
}

#login-button, #signup-button, #send-file-button, #file-upload-label, #start-stream-button {
    font-size: 125%;
    font-weight: 900;
    padding: 5px;
    margin-top: 6vh;
}

#send-file-button{
    margin-top: 2vh;
}

#file-upload-label{
    margin-top:10vh;
    border: 1px solid #ffffff;
    font-weight: 900;
}

#start-stream-button{
    margin-top: 3vh;
}

#login {
    width:50vw;
    height:48vh;
    margin:auto;
    margin-top: 25vh;
}

#login input {
    width:100%;
    margin:auto;
}

#file-upload {
	  width: 0.1px;
	  height: 0.1px;
	  opacity: 0;
	  overflow: hidden;
	  z-index: -1;
    margin-top:5vh;
    margin-bottom:2vh;
}

#stream-info{
    display: block;
}

#info-text{
    padding: 15px;
    border: 3px solid #ffffff;
    width: 90vw;
    height: 15vh;
}

.streamer-collection-name{
    display:inline;
    margin-right: 2vw;
}

.main-header h1{
    display: inline;
    margin-right: 0px;
    margin-left: 0px;
    font-size:200%;
}


@media only screen and (max-width: 600px) {
    li{
        display:block;
        margin-top:2vh;
    }

    .streamer{
        width:100%;
    }

    #login {
        margin-top:10vh;
        width: 75%;
    }

    .main-header h1{
        display: block;
        font-size:150%;
    }
}

@media only screen and (min-width: 600px) {
    .main-header h1::before {
        content: " | ";
    }
}
