* {
    background-color: #343434;
    font-family: 'Noto Sans HK', sans-serif;
    font-family: 'Maven Pro', sans-serif;
    color: #ffffff;
}

body{
    padding-left:2vw;
    padding-right:2vw;
}

#header{
    height:10vh;
    padding-top:5vh;
    margin-bottom:0px;
}

#header h1{
    color: #343434;
    background-color: #ffffff;
    font-weight: 900;
}

#featured{
    margin-top:1px;
    height:40vh;
    display:block;
    margin-bottom:10vh;
    margin-bottom:15vh;
}

#featured h2{
    margin-top:2vh;
}

#featured h5{
    width:70vw;
    margin:auto;
    text-align: justify;
    text-justify: auto;
    margin-bottom:4vh;
}

#streamer-name{
    color: #343434;
    background-color: #ffffff;
    padding-top:2vh;
    padding-bottom:1vh;
    font-weight: 900;
}

#navbar{
    height:30vh;
}

ul{
    margin-top:0px;
    list-style-type: none;
    padding-left: 0;
    font-size:120%;
}

li{
    margin-top:2vh;
}

#streamer-controls h3{
    text-align:right;
    margin-top:7px;
    margin-bottom:7px;
    margin-right:2vw;
}

#listen{
    font-weight: 900;
}

input {
    border: 0px;
    border-bottom: 3px solid #ffffff;
    padding-bottom: 10px;
}

button {
    border: 0px;
    color: #343434;
    background-color: #ffffff;
}

#login-button, #signup-button, #send-file-button, #file-upload-label, #start-stream-button {
    font-size: 125%;
    font-weight: 900;
    padding: 5px;
    margin-top: 6vh;
}

#send-file-button{
    margin-top: 2vh;
}

#file-upload-label{
    margin-top:10vh;
    border: 3px solid #ffffff;
}

#login {
    width:70vw;
    height:48vh;
    margin:auto;
    margin-top: 5vh;
}

#login input {
    width:100%;
    margin:auto;
}

#file-upload {
	  width: 0.1px;
	  height: 0.1px;
	  opacity: 0;
	  overflow: hidden;
	  z-index: -1;
    margin-top:5vh;
    margin-bottom:2vh;
}

#stream-info{
    display: block;
}

#info-text{
    padding: 15px;
    border: 3px solid #ffffff;
    width: 90vw;
    height: 15vh;
}
